<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.PermissionMapper">
    <insert id="addPermission" parameterType="entity.Permission">
        INSERT INTO permission (permission, description)
        VALUE (#{permission}, #{description})
    </insert>

    <update id="updatePermission" parameterType="entity.Permission">
        UPDATE permission
        <set>
            <if test="premission != null">
                permission = #{premission}
            </if>
            <if test="description != null">
                description = #{description}
            </if>
        </set>
    </update>

    <select id="findPermissionByID" parameterType="Long">
        SELECT *
        FROM premission
        WHERE ID = #{ID}
    </select>
    <select id="findAllPermissions" parameterType="entity.Permission">
        SELECT *
        FROM premission
    </select>

    <delete id="deletePermission" parameterType="Long">
        DELETE
        FROM premission
        WHERE ID = #{ID}
    </delete>
</mapper>